{{> partials/main }}

<head>

    {{> partials/title-meta title="Radar Charts" }}

    {{> partials/head-css }}

</head>

{{> partials/body }}

<div class="group-data-[sidebar-size=sm]:min-h-sm group-data-[sidebar-size=sm]:relative">

    {{> partials/menu }}

    <div class="relative min-h-screen group-data-[sidebar-size=sm]:min-h-sm">

        {{>partials/page-wrapper }}

            <div class="container-fluid group-data-[content=boxed]:max-w-boxed mx-auto">

                {{> partials/page-title title="Radar Charts" pagetitle="Apexcharts" }}

                <div class="grid grid-cols-1 gap-x-5 xl:grid-cols-2">
                    <div class="card">
                        <div class="card-body">
                            <h6 class="mb-4 text-15">Basic</h6>
                            <div id="basicRadar" class="apex-charts" data-chart-colors='["bg-custom-300", "bg-custom-300"]' dir="ltr"></div>
                        </div>
                    </div><!--end card-->
                    <div class="card">
                        <div class="card-body">
                            <h6 class="mb-4 text-15">Radar – Multiple Series</h6>
                            <div id="radarMultipleSeries" class="apex-charts" data-chart-colors='["bg-custom-500", "bg-green-500", "bg-yellow-500"]' dir="ltr"></div>
                        </div>
                    </div><!--end card-->
                    <div class="card">
                        <div class="card-body">
                            <h6 class="mb-4 text-15">Radar with Polygon-fill</h6>
                            <div id="radarWithPolygonfill" class="apex-charts" data-chart-colors='["bg-red-500", "bg-slate-200", "bg-white"]' dir="ltr"></div>
                        </div>
                    </div><!--end card-->
                </div><!--end grid-->

            </div>
            <!-- container-fluid -->
        </div>
        <!-- End page-wrapper -->

        {{> partials/footer }}

    </div>

</div>
<!-- end main content -->

{{> partials/customizer }}

{{> partials/vendor-scripts }}

<!-- apexcharts js -->
<script src="assets/libs/apexcharts/apexcharts.min.js"></script>

<!-- radar init js-->
<script src="assets/js/pages/apexcharts-radar.init.js"></script>

<!-- App js -->
<script src="assets/js/app.js"></script>

</body>

</html>